@model IEnumerable<WebAppInca.Models.Material>

@{
    ViewData["Title"] = "BuscarMaterial";
}

<h1>BuscarMaterial</h1>

<table id="table_id" class="display mt-2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Medida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unidad.Id)
                </td>

            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
    $('#table_id').DataTable({
        "processing": true


    });
    </script>
}