@model WebAppInca.Models.Material

@{
    ViewData["Title"] = "Details";
}

<h1>Detailles de Materiales</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Codigo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
           Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            Cantidad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class="col-sm-2">
            Medida
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medida)
        </dd>
        <dt class="col-sm-2">
            Categoria
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>
        <dt class="col-sm-2">
           Descripcio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>
        <dt class="col-sm-2">
            Simbología
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unidad.Simbolo)
        </dd>
        <dt class="col-sm-2">
          Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unidad.Discripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    <a asp-action="Index">Back to List</a>
</div>
