@model IEnumerable<WebAppInca.Models.Material>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Materiales</h1>

<div class="col-md-10 mx-auto mt-2">
   <a class="btn btn-secondary text-light mb-2" asp-action="Create">Crear Material</a>
    <table id="table_id" class="display mt-2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Medida)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Medida)
                    </td>
                    <td>

                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> @*|*@
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script>
        $('#table_id').DataTable({
            "processing": true


        });
    </script>
}
