@model WebAppInca.Models.Factura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consecutivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consecutivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEmicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEmicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuenta.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
