@model WebAppInca.Models.Planilla

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Planilla</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puesto.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
